* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        transition: color 0.5s ease-in-out;
        font-family: poppins;
}

ul {
        list-style: none;
}

h4 {
        font-size: 20px;
}

h3 {
        font-size: 20px;
        text-align: center;
}

h1 {
        text-align: center;
        color: white;
        border-bottom: 5px solid rgb(0, 0, 0);
}


label {
        font-size: 15px;
        font-family: poppins;
}

button {
        border: none;
        background-color: #2B32B2;
        color: white;
        min-height: 40px;
        cursor: pointer;
        font-family: poppins;
        width: 100%;
}

.card {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        position: relative;
        background: #1488CC;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2B32B2, #1488CC);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.card-head {
        position: absolute;
        top: 20px;
        width: 90%;
}

.card-content {
        display: flex;
        align-items: center;
}

.card-body {
        width: 400px;
        height: 50%;
        background: #FFEFBA;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFFFFF, #FFEFBA);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-radius: 10px 10px 0 0;
        position: relative;
}


.question h4 {
        padding: 10px;
}

.options li {
        padding: 10px;
}

.options li input {
        cursor: pointer;
}

.button {
        width: 100%;
        height: 40px;
        text-align: center;
        background-color: #2B32B2;
        border-radius: 0 0 10px 10px;
        cursor: pointer;
        position: absolute;
        bottom: 0;
}